@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450);
header h1{
 color: darkgoldenrod;
 font-size: 45px;
 background-color: floralwhite;
 border-bottom: 30px solid floralwhite;
 border-top: 30px solid floralwhite;
 font-weight: lighter;
 letter-spacing: 7px;
}

header h2{
    border: 10px solid floralwhite;
    border-left: 5px;
    border-right: 5px;
    border-top: 20px solid floralwhite;
    font-weight: lighter
}

img{
    margin-top: 30px;
}

profile ul{
    border-top: 20px solid beige;
    line-height: 230%;
    border-bottom: 20px solid beige;
    font-family: 'Crimson Pro', serif;
}

profile p{
    font-style: italic;
    font-weight: bolder;
}

tail p{
    border-bottom: 30px solid floralwhite;
}